@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

body {
	background: linear-gradient(to right, #FFF8E3, #E6A4B4);
	font-family: 'IBM Plex Sans KR', sans-serif;
	height: 100dvh;
	overflow: hidden;
}

.music {
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	margin-top: 20px;
	position: fixed;
}

#search {
	background-color: rgba(240, 248, 255, 0);
	border: none;
	margin-top: 10px;
	margin-left: 440px;
	position: fixed;
}

input {
	position: fixed;
	margin-left: 30px;
	border-radius: 30px;
	margin-top: 10px;
	height: 30px;
	width: 400px;
	font-size: 17px;
	border-color: #E6A4B4;
}
.details{
	background-color: rgba(240, 248, 255, 0);
	position: absolute;
	right: 20px;
	border: none;
	position: fixed;
}
